<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include("../fragmente/head") %>
    <meta name="keywords" content="Cafea, Coffee, Oferte, cappuccino">
    <meta name="description" content="La Coffee4You se serveste cafea pe gustul tuturor, ieftina si buna. Este locul perfect unde se poate incepe o noua zi.">
    <title>Eroare 403</title>
</head>

<body>

<%- include("../fragmente/header") %>

<main>

        <h2>Eroare 403</h2>

</main>

<%- include("../fragmente/footer") %>

<div id="banner"><p>DISCLAIMER: Acesta este un proiect skolar</p></div>
</body>
</html>