<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include("../fragmente/head") %>
    <meta name="keywords" content="Cafea, Coffee, Oferte, cappuccino">
    <meta name="description" content="La Coffee4You se serveste cafea pe gustul tuturor, ieftina si buna. Este locul perfect unde se poate incepe o noua zi.">
    <title>Eroare 404</title>
</head>

<body>

<%- include("../fragmente/header") %>

<main>
    <section id="eroare-404">
        <img id="cafea-404" src="/resurse/imagini/cafea-404.jpg">
        <h2>Eroare 404</h2>
        <h3><i>No Coffee, No Workee</i> :(</h3>

    </section>
</main>

<%- include("../fragmente/footer") %>

<div id="banner"><p>DISCLAIMER: Acesta este un proiect skolar</p></div>
</body>
</html>