#tabel{
    text-align: center;
    border-spacing: 1px;
    padding: 5px;
    border: 1px solid var(--culoare4);
    margin: auto;
}


#tabel thead tr th{
    border: none;
}

#tabel tfoot td{
    border: none;
    font-weight: bold;
    text-align: center;
}

tbody tr:nth-child(even){
    background-color: var(--culoare1);
}

tbody tr:nth-child(odd){
    background-color: var(--culoare3);
}

tbody tr:hover{
    background-color: var(--culoare1);
}

