<footer>
    <br> <a href="#" id="link-top" title="hai sus Deluta"><div id="triunghi">&#5123;</div></a>
    <address>
        Telefon: <a href="tel:0724444444">0724444444</a><br>
        Adresa: Oceanul Atlantic de Nord<br>
        E-mail: <a href="mailto:contact@coffee4you.ro">contact@coffee4you.ro</a> <br>
    </address>
    <small>Copyright &#169; <time datetime="13-03-2021">2021</time> Toate drepturile rezervate. (sper)</small>

</footer>