<header>
    <h1><img id="cana" src="/resurse/imagini/cana-cafea.png"> C<img id="buaba" src="/resurse/imagini/coffee-beans.png">FFEE4Y<img id="buaba" src="/resurse/imagini/coffee-beans.png">U </h1>
</header>
<nav>
    <label id="hamburger" for="ch-menu">
        <img src="/resurse/imagini/Hamburger_icon.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">

    <ul id="meniu">
        <li>
            <div><a href="/index"><i class="fas fa-home"></i>ACASA</a></div>
            <ul>
                <li>
                    <a href="#desprenoi">DESPRE NOI</a>
                </li>
                <li>
                    <a href="#ofertazilei">OFERTA ZILEI</a>
                </li>
                <li>
                    <a href="#faq"><abbr title="Frequently Asked Questions">FAQ</abbr></a>
                </li>
                <li>
                    <a href="#locatie">LOCATIE</a>
                </li>
            </ul>
        </li>
        <li>
            <div><a href="/produse">PRODUSE</a></div>
            <ul>
                <li>
                    <a href="?categ=cafea cofeinizata">cofeinizata</a>
                </li>
                <li>
                    <a href="?categ=cafea decofeinizata">decofeinizata</a>
                </li>
                <li>
                    <a href="?categ=gustari">gustari</a>
                </li>
            </ul>
        </li>
        <li>
            <div class="shadow">ANGAJARI</div>
        </li>
        <li>
            <div class="shadow">CONTACT</div>
        </li>
    </ul>
</nav>